node-linker=hoisted
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
shared-workspace-lockfile=true
link-workspace-packages=true
frozen-lockfile=false
prefer-frozen-lockfile=false 
