node-linker=isolated
shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=false
shared-workspace-lockfile=true
link-workspace-packages=true
frozen-lockfile=false
prefer-frozen-lockfile=false 