node_modules
/dist
.env
cookies*.txt
*.log
.DS_Store

.agents
.agent
.claude
.codebuddy
.commandcode
.codex
.continue
.crush
.factory
.gemini
.cursor
.deepseek
.grok
.huggingface
.kimi
.kong
.mistral
.neon
.openai
.perplexity
.prompt
.qwen
.replicate
.goose
.kiro
.mcpjam
.cline
.neovate
.opencode
.openhands
.kilocode
.mux
.pi
.trae
.roo
.windsurf
.zencoder
logs/
skills