.outer_container {
  --border-radius: 7px;
  --handle_width: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  touch-action: pan-y;
  padding: 0 var(--handle_width);
}

.audio_container {
  --thumb_text_size: 0.75rem;
  --thumb_arrow_height: 5px;
  --thumb_height: calc(var(--thumb_text_size) + var(--thumb_arrow_height));
  /* width: 100%; */
  height: 100px;
  padding: 0 10px;
  margin-top: var(--thumb_height);
  /* background-color: lightblue; */
  background-image: url('/audio-wave.svg');
  background-size: auto 50%;
  background-position-y: center;
  background-repeat: repeat-x;
  position: relative;
  border-radius: var(--border-radius);
}

.scrubber_container {
  /* display: flex; */
  gap: 10px;
  align-items: end;
  /* justify-content: center; */
  /* background-color: blue; */
}

.trim_area {
  height: 100%;
  --border-width: 5px;
  --border-color: rgb(254, 148, 26);
  border-top: var(--border-width) solid;
  border-bottom: var(--border-width) solid;
  position: absolute;
  border-color: var(--border-color);
}
.outside_trim_area {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}

.left_container {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.right_container {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.handle {
  position: absolute;
  height: calc(100% + 2 * var(--border-width));
  transform: translateY(calc(-1 * var(--border-width)));
  width: var(--handle_width);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  line-height: 11.8px;
  /* padding: 3px 4px; */
  cursor: move;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
  background-color: var(--border-color);
  /* text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3); */
}
.handle::after {
  --width: 5px;
  /* content: 'l l l l l l l l'; */
  content: '';
  /* display: block; */
  justify-content: center;
  height: 90%;
  background: rgba(0, 0, 0, 0.25);
  width: var(--width);
}

.left_handle {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  left: calc(-1 * var(--handle_width));
}
.left_handle::after {
  border-radius: calc(var(--width) / 2) 0 0 calc(var(--width) / 2);
}

.right_handle {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  right: calc(-1 * var(--handle_width));
}
.right_handle::after {
  border-radius: 0 calc(var(--width) / 2) calc(var(--width) / 2) 0;
}
.audio_scrubber_container {
  height: 100%;
  position: absolute;
  /* backgroundColor: 'green'; */
  display: flex;
  flexdirection: column;
}

.audio_scrubber {
  --scrubber_width: 1px;
  position: absolute;
  height: 100%;
  width: var(--scrubber_width);
  background-color: red;
}

.audio_scrubber_thumb {
  display: flex;
  justify-content: center;
  cursor: move;
  width: fit-content;
  border-radius: 5px;
  background-color: #ff7070;
  position: relative;
  top: calc(-1 * (var(--thumb_height)));
  transform: translateX(calc(-50% + var(--scrubber_width) / 2));
}

.audio_scrubber_thumb::before {
  content: '';
  position: absolute;
  top: 100%;
  border: var(--thumb_arrow_height) solid transparent;
  border-top-color: #ff7070;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.audio_scrubber_text {
  margin: 0px 3px;
  font-size: var(--thumb_text_size);
}

.time_label {
  width: 70px;
  /* background-color: red; */
}

.button_container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
