.container {
  display: flex;
  position: fixed;
  z-index: 1;
  bottom: 0px;
  background-color: lightgray;
  justify-content: space-around;
  aligh-items: center;
  width: 100%;
  gap: 50px;
  padding: 0px 30px;
}

.audio {
  margin: auto 0;
  flex: 2;
  background-color: lightgray;
}

.title {
  flex: 1;
}
