.container {
  display: grid;
  grid-template-columns: 1fr 1.75fr 1fr;
  position: fixed;
  grid-gap: 15px;
  z-index: 1;
  bottom: 0px;
  background-color: #ccc;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0px 30px;
}

.controls-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px;
}

.progress-container {
  display: grid;
  grid-template-columns: 4em auto 4em;
  grid-gap: 0.5em;
  width: 100%;
}

.title {
  /* grid-area: 1 / 1 / 1 / 2; */
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.current-time {
  justify-self: end;
}

.duration {
  justify-self: start;
}

.vertical-container {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
  padding: 10px 0;
}

.progress-container > h4 {
  margin: 0;
  align-self: center;
  font-size: 0.8em;
}

.slider {
  /* -webkit-appearance: none; */
  width: 100%;
  justify-self: center;
  align-self: center;
  /* background: red; */
  /* border-radius: 0.5em; */
  /* height: 0.3em; */
}
