.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 20px;
  margin-bottom: 1rem;
  border-width: 2px;
  border-radius: 2px;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.dropzone:hover {
  border-color: rgb(66, 164, 242);
}
.dropzone:focus {
  border-color: rgb(66, 164, 242);
}

.dropzoneContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorMessage {
  color: red;
  font-size: 0.8rem;
  margin-top: 0;
}
