.container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .loading {
    text-align: left;
  }
}

.rotating {
  animation: loading 5s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  font-size: 40px;
  width: 350px;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 2500ms infinite;
  animation: ellipsis steps(4, end) 2500ms infinite;
  content: '\2026'; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 0.9em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 0.9em;
  }
}
