.cardContainer {
  --container-padding: 15px;
  --hover-color: #f5f5f5;
  /* background-color: blue; */
  padding: 0 var(--container-padding) var(--container-padding)
    var(--container-padding);
  border-radius: 10px;
  /* max-height: 125px; */
}

.cardContainer:hover {
  background-color: var(--hover-color);
}

.cardContent {
  display: flex;
}

.title {
  margin: 0;
  font-size: 1.2em;
  /* color: white; */
}

.divText {
  margin-left: 15px;
}

.description {
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 5px;
}

.divImage {
  background-color: lightblue;
  display: flex;
  width: 100px;
  min-width: 100px;
  height: 100px;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
}

.horizontal-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--hover-color);
  margin-top: 0;
  margin-bottom: var(--container-padding);
  padding: 0;
}

.bottomDiv {
  display: flex;
  gap: 10px;
  /* background-color: red; */
  align-items: center;
}
.songProgress {
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  --progress-height: 10px;
  height: var(--progress-height);
}
.songProgress::-webkit-progress-value {
  background-color: gray;
  border-radius: calc(var(--progress-height) / 2);
}
.songProgress::-webkit-progress-bar {
  background-color: lightgrey;
  border-radius: calc(var(--progress-height) / 2);
}

.date {
  font-size: 0.8em;
  font-weight: normal;
}
