.google_btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  margin: auto;
  cursor: pointer;
}
.google_icon_wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google_icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.btn_text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.2px;
}
div.google_btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
div.google_btn:active {
  background: #1669f2;
}
