.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 500px;
  border-radius: 2rem;
  border: 10px solid #eaeaea;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

.header {
  text-decoration: none;
}
